<!-- <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list> -->

  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="1" [rowspan]="6" style="display: block!important;">
        <mat-form-field class="example-full-width;">
            <input matInput name="columnName" [(ngModel)]="columns.columnName" placeholder="Column Name">
          </mat-form-field>
        <br>
        Show Column 
         <mat-slide-toggle
          class="example-margin"
          [color]="color"
          [checked]="checked"
          [disabled]="disabled"
          [(ngModel)]="columns.showColumn">
        
      </mat-slide-toggle><br>
      <button (click)="addColumn()" 
          mat-button class="submitColor">Add Column</button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="6">
        <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="columnName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Column Name </th>
              <td mat-cell *matCellDef="let element"> {{element.columnName}} </td>
            </ng-container>

            <ng-container matColumnDef="showColumn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Show Column </th>
                <td mat-cell *matCellDef="let element"> 
                    <mat-slide-toggle
                        class="example-margin"
                        [color]="color"
                        [checked]="checked"
                        [disabled]="disabled"
                        [(ngModel)]="element.showColumn">
                    </mat-slide-toggle>
                </td>
              </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef > Delete </th>
              <td mat-cell *matCellDef="let element">
                <button (click)="deleteRecord(element)" mat-button>
                  <i class="material-icons" style="color: rgb(202, 79, 79);">delete</i>
                </button>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </mat-grid-tile>
  </mat-grid-list>

