<form class="example-form">
 
    <div >
      <mat-form-field syle="float: left;">
        <mat-label>Search...</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search">
      </mat-form-field>

        <button style="background:rgb(132 207 12);float: right;margin-top: 13px;color: white;"
        (click)="post()" routerLink="/add-order" routerLinkActive="active" mat-button>
          Add Order
        </button>
    </div>

  

  <div class="mat-elevation-z8">

  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef > Position </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container> -->

    <ng-container matColumnDef="companyName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </th>
      <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
    </ng-container>

    <ng-container matColumnDef="partNumber">
      <th mat-header-cell *matHeaderCellDef> Part Number </th>
      <td mat-cell *matCellDef="let element"> {{element.partNumber}} </td>
    </ng-container>
    <ng-container matColumnDef="quantityOrder">
      <th mat-header-cell *matHeaderCellDef> Quantity Order </th>
      <td mat-cell *matCellDef="let element"> {{element.quantityOrder}} </td>
    </ng-container>
    <ng-container matColumnDef="quantityMade">
      <th mat-header-cell *matHeaderCellDef> Quantity Made </th>
      <td mat-cell *matCellDef="let element"> {{element.quantityMade}} </td>
    </ng-container>
    <ng-container matColumnDef="madeDate">
      <th mat-header-cell *matHeaderCellDef> Made Date </th>
      <td mat-cell *matCellDef="let element"> {{element.madeDate}} </td>
    </ng-container>
    <ng-container matColumnDef="quantityScrap">
      <th mat-header-cell *matHeaderCellDef> Quantity Scrap </th>
      <td mat-cell *matCellDef="let element"> {{element.quantityScrap}} </td>
    </ng-container>
    <ng-container matColumnDef="quantityShipped">
      <th mat-header-cell *matHeaderCellDef> Quantity Shipped </th>
      <td mat-cell *matCellDef="let element"> {{element.quantityShipped}} </td>
    </ng-container>
    <ng-container matColumnDef="shippedDate">
      <th mat-header-cell *matHeaderCellDef> Shipped Date </th>
      <td mat-cell *matCellDef="let element"> {{element.shippedDate}} </td>
    </ng-container>
    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef> Stock </th>
      <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
    </ng-container>
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef> Location </th>
      <td mat-cell *matCellDef="let element"> {{element.location}} </td>
    </ng-container>
    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef> Update </th>
      <td mat-cell *matCellDef="let element">
      <!-- <app-edit-order [master]='master'> -->
        <button (click)="updateRecord(element)" style="margin-left: -12px;" mat-button>
          <i class="material-icons" style="color: rgb(153, 207, 66)">edit</i>
        </button>
      <!-- </app-edit-order> -->
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef > Delete </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="deleteRecord(element)" style="margin-left: -12px;" mat-button>
          <i class="material-icons" style="color: rgb(202, 79, 79);">delete</i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator style="margin-bottom: 80px;" [pageSizeOptions]="[10, 25, 50, 100]" 
  [length]=[recordsLength] showFirstLastButtons></mat-paginator>


</div>
</form>

<router-outlet></router-outlet>