/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  table {
   width: 100%;
 }

 .Rectangle110{
  position: absolute;
  width: 75%;
  height: 520px;
  left: 140px; 
  top: 85px;
  background: #FFFFFF;
  box-shadow: 0px 2.86228px 11.4491px rgba(0, 0, 0, 0.25);
  border-radius: 14.3114px;
}

.submitColor{
  background: rgb(153, 207, 66);
}

.cancelOrder{
  background: rgb(202, 79, 79);
}